*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Wallie,Helvetica;
    text-rendering: optimizeLegibility;
    color: #253238;
}


:root{
    --background-color: #fff;
    --background-color-header-buttons: #ECEFF1;
    --wallapop-color-blue: #13c1ac;
    --wallapop-special-font-color: #90A4AE;
    --wallapop-color-blue2: #385EF9;
    --font-color-2:#607D8B ;
    --header-buttons-font-size: .875rem;
    --font-family-exo: 'Exo', sans-serif;
    --search-title-font-mobile: 2rem;
}

body{
    padding: 0;
    margin: 0 auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100vw;
    
}

/* img:not(.arrow-wrapper img, .download-qr-code){
    max-width: 100%;
} */

a{
    text-decoration: none;
}


.layout{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* HEADER SECTION */
.header-container{
    width: 100%;
    height: 8%;
    padding: 15px 20px 10px 20px;
    background-color: var(--background-color);
    position: fixed;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1.5px solid rgba(207,216,220,.5);
    z-index: 5;
}

.header-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-web{
    display: none;
    justify-content: flex-start;
    align-items: center;
}

.header-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo a{
    padding-top: 10px;
    padding-right: 20px;
    cursor: pointer;
}

.header-optionWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-optionWrapper a, h3{
    text-decoration: none;
}

.header-optionButtons{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.header-optionButtons button{
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--wallapop-color-blue);
    border-radius: 25px;
    border-color: var(--wallapop-color-blue);
    cursor: pointer;
    height: 2.5rem;
    font-size: var(--header-buttons-font-size)
}

.optionButton1{
    background-color: var(--background-color);
}

.optionButton1 a{
    color: var(--wallapop-color-blue)
}

.optionButton1:hover { 
    background-color: var(--wallapop-color-blue);
}

.optionButton1:hover .optionButton1-text{ 
    color: white;
}

.subir-producto-container{
    width: 100%;
    display: none; /*display flex*/
    gap: 0.5rem; 
    padding: 0;
    align-items: center;
    align-content: center;
}

.subir-producto-container span{
    background-color: var(--wallapop-color-blue);
}

.optionButton2{
    display: none; /*display block*/
    background-color: var(--wallapop-color-blue);
}

.optionButton2 a{
    background-color: var(--wallapop-color-blue);
    color: var(--background-color);
    font-weight: 600;
}

svg:not(.search-input-wrapper svg, .nav-bar-option svg){
    border-radius: 15px;
    background-color: var(--wallapop-color-blue);
}

.optionButton2:hover svg{
    background-color: var(--background-color);
    stroke: var(--wallapop-color-blue);
}

.optionButton2:hover .subir-producto-container a{
    background-color: #1f9b8c;
}

.optionButton2:hover{
    background-color: #1f9b8c;
}

        .optionButton3{
            display:none;
        }


/* HEADER SECTION END*/

/*MAIN */

/*SEARCH SECTION*/
main{
    padding: 0 2%;
}

        .main-search{
            margin-top: 4.2rem; /*margin-top: 6.5rem*/
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            padding-top: 4rem;
        }

        .search-title{ /*margin-bottom: 1.5rem*/
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: var(--search-title-font-mobile);
            text-align: center;
            margin-bottom: 1rem;
        }


        .search-title strong, .search-title span{
            font-family: 'Exo', sans-serif;
            font-size: var(--search-title-font-mobile); /*font-size: var(--search-title-font-mobile) */
        }

        .search-title span{
            font-weight: 100;
        }

.search-form-container{
    display:flex;
    flex-direction: column;
    height: 2.5rem;
    max-width: 95%;
}

.search-form-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search-input-wrapper{
    display: flex;
    gap: .5rem;
    height: 100%;
    border: 1px solid #b1b1b1;
    border-radius: 35px;
    padding-left: 15px;
    align-items: center;
}

.search-input-wrapper:hover{
    border: 2px solid black;
}

.search-input-wrapper input{
    border: none;
    width: 90%;
    font-size: 1rem;
    text-overflow: ellipsis;
    background-color: transparent;
    font-family: var(----font-family-exo);
    font-size: calc(var(--search-title-font-mobile) - 1.1rem);
}

.search-input-wrapper input:focus{
    outline: none;
}

/*Aquí debería poder eliminar el SVG al tener en focus el input como lo hace la página de wallapop, 
pero lo haré en el segundo proyecto con JS que será más sencillo 
al añadir una clase "input-active" con un display:none para el SVG*/


.recent-searches-list{
    display: none
}
        .search-submit-button-container{ /*display: block*/
            background-color: var(--wallapop-color-blue);
            display: none;
            border: none;
            border-radius: 25px;
            height: 2.5rem;
            width: 6rem;
        }

        .search-submit-button a{ /*display: block*/
            color: var(--background-color);
            padding-right: 2rem;
        }

/*SEARCH SECTION END*/

/*CATEGORIES WRAP SECTION*/
 
.categories-wrap{ /*max-height: 11-12rem*/
    max-height: 9.25rem ;
}
.categories-title{
font-size: 1.25rem;
font-family: var(----font-family-exo);
}

.categories-element-wrapper{
display: flex;
position: relative;
justify-content: center;
align-items: center;
overflow: auto;
white-space: nowrap;
border-radius: 15px;
padding-left: 15px;
gap: 0.2rem;
height: 80%;
}

.categories-element-container{
display: flex;
flex-wrap: nowrap;
scroll-behavior: smooth;
overflow-x: scroll;

}

.categories-element-container::-webkit-scrollbar{ /*Debe aparecer en web*/
    display: none;
}

.categories-element-container a{
color: var(--wallapop-special-font-color);
}
.categories-element{ /*En web el calculo del width no debe solo tomar 3 elementos, si no todos los que quepan*/
    color:#04413C;
    flex-shrink: 0;
    flex: 1 0 auto;
    padding: 24px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

.category-hovered-icon{
    display: none;
}

.categories-element img{
    height: 3rem;
    width: 3rem;
}

.categories-element:hover .category-unhovered-icon{
    display: none;
}

.categories-element:hover .category-hovered-icon{
    display: block;
}

.categories-element p{
font-size: .75rem;
line-height: 18px;
}

.category-title{
text-align: center;
max-width: 100%;
height: 40px;
word-wrap: break-word;
}

.arrow-left{ /*display:block*/
    display: none;
    animation: arrow-ini 0.35s linear alternate infinite;
    cursor: pointer;
}

.arrow-wrapper{
    margin: 0 1rem; 
}
.arrow-right{
    animation: arrow-ini 0.35s linear alternate infinite;
    cursor: pointer;
}

@keyframes arrow-ini {
0%{
transform: translate(-3px);
}
100%{
transform: translate(3px);
}
}

/*CATEGORIES WRAP SECTION END*/

/*HOME COLLECTIONS SECTION */
.home-collections{
display: flex;
flex-direction:column ;
}

.collection-wrapper{
margin-bottom: 2rem;
}

.collection-title{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
font-size: 1.25rem;
line-height: 26px;
color: #333;
}

.collection-subsections{
display: flex;
margin: 20px 0;
gap: 16px;
overflow-y: hidden;
overflow-x: scroll;
}

.collection-subsection{
color:#04413C;
flex-shrink: 0;
flex: 1 0 auto;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: flex-start;
align-content: center;
overflow: hidden;
transition: transform 0.2s ease-in-out;
}

.subsection-subtitle{
    font-size: .75rem;
    line-height: 16px;
    color: var(--font-color-2);
}

.collection-subsection:hover{
    transform: translateY(-5px);
}

.collection-subsection img{
background-color: #ECEFF1;
border-radius: 20px;
max-width: 100%;
max-height: 90%;
}

.subsection-title{
margin-top: .5rem;
font-family: Wallie;
font-size: 1rem;
font-weight: 600; 
line-height: 20px;
}

/*HOME COLLECTIONS SECTION END*/

/*BANNERS SECTION*/

.banners {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 10rem;
max-width: 100vw;
}

banners:first-child{
margin-top: calc(20px * 4);
}

    .pro-banner{
        margin-top: 1.5rem;
        width: 100%;
        height: 20.93rem;
        margin-bottom: 6.87rem;
        background: var(--wallapop-color-blue2);
        border-radius: 1rem;

        /* para web: 
        position: relative;
        width: 50%;
        background: var(--wallapop-color-blue2)
        border-radius: 16px; */
    }

.pro-banner-wrapper{
display: flex;
justify-content: space-around;
flex-direction: column;
height: 100%;
}

.pro-banner-info-top{
display: flex;
align-items: center;
justify-content: space-evenly;
}

.pro-banner-info-bottom{
display: flex;
justify-content: center;
}

.pro-banner-info-bottom-section{
display: flex;
flex-direction: column;
padding: 1rem;
gap: 0.5rem;
height: auto;
width: 93%;
background: var(--background-color);
border-radius: 1rem;
}


.pro-banner-title{
font-weight: 700;
font-size: 1.5rem;
line-height: 2.2rem;
color: #385EF9;
}

.pro-banner-subtitle{
font-size: 0.9rem;
line-height: 1.3rem;
}

.pro-banner-button{
display: flex;
justify-content: center;
align-items: center;
height: 2.2rem;
background: var(--wallapop-color-blue2);
border-radius: 1.2rem;
color: var(--background-color);
font-weight: 600;
font-size: 1rem;
cursor: pointer;
}

.banners-download{ /*flex-direction:row*/
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--wallapop-color-blue);
    border-radius: 1rem;
    padding: 1.2rem 1rem;
}

.download-column-1{
margin-top: -110px;
}


.download-column-1 img{ /*ajustar imagenes en web*/
    width: 100%;
    max-width: 100%;
    height: 90%;
    object-fit: contain;
}

.download-column-1 .column-row-1{
margin-bottom: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width: 100%;
}

.download-column-1 .column-row-2{ /*display: block, margin-top: 1.5rem*/
    display: none;
}

.download-column-2{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: auto;
}

.download-column-2 .column-row-1{
margin-bottom: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width: 100%;
}

.download-column-2 .column-row-2{ /*display:none*/
display: flex;
width: 100%;
}

.download-qr-code{ /*display block*/
    display: none;
}

.download-scores{
display: flex;
justify-content: flex-start;
align-items: center;
width: 100%;
gap: 1rem;
}

.download-scores-element .score{
position: relative;
width: fit-content;
}

.score-wrapper{
display: flex;
overflow: hidden;
width: 96%;
}

.score-wrapper img{
margin-right: 0.3rem;
}

.download-scores-text{
margin-top: 8px;
display: flex;
align-items: center;
justify-content: flex-start;
gap: 8px;
}

.download-scores-text span{
color: var(--background-color);
font-size: var(--header-buttons-font-size);
}

.score-value{
    font-weight: nbold;
}


.download-title{
margin-bottom: 1.3rem;
}

.download-title strong{
font-weight: bold;
font-size: var(--search-title-font-mobile);
color: var(--background-color);
/* line-height: 44px; */
}

/*BANNERS SECTION END*/

/*FIRST LINKS SECTION*/

.list-keywords-container{ /*padding-top: 4-5rem*/
    padding-top: 2rem;
}

.row{
display: flex;
flex-wrap: wrap;
}

.list-keywords-container .col{
flex-basis: 0;
flex-grow: 1;
}

.first-links-container{ /*column-count: 3 para tablet y 5 para web*/
    column-count: 1;
}

.category:not(:last-of-type){
margin-bottom: 1rem;
}

.category p{
font-size: 0.9rem;
line-height: 20px;
margin-bottom: 2px;
font-weight: bold;
}

.category span{
color: var(--wallapop-special-font-color);
display: inline-block;
}

.category span a, .second-links-left-column a, .second-links-right-column p, 
.link-blocks a, .nav-bar-text{
line-height: 18px;
letter-spacing:-0.3px;
font-size: 0.75rem;
color: var(--font-color-2);
}

.category span a:hover, .second-links-left-column a:hover, 
.link-blocks a:hover, .nav-bar-text:hover{
color: var(--wallapop-color-blue);
}


/*FIRST LINKS SECTION END*/
/*SECOND LINKS SECTION */

.second-links-container{
margin-top: 1rem;
width: 100%;
}

.second-links-left-column{ 
    /*
    flex-shrink: 1;
    max-width: 40%;
    */
    margin-bottom: 1rem;
}

.second-links-right-column{
margin-bottom: 1rem;
}

.second-links-container .title, .block-links-title {
font-size: 0.9rem;
line-height: 20px;
margin-bottom: 5px;
font-weight: bold;
}

.second-links-left-column h2{
display: inline-block;
padding-top:-5px;
font-weight: 400;
color:var(--font-color-2);
}


/*SECOND LINKS SECTION END*/
/*FOOTER*/

.footer-container{
width: 100%;
}

.footer-row-1{
display: flex;
flex-wrap: wrap
}

.footer-row-1{ /*padding-top: 4-5rem*/
    padding-top: 1rem;
    margin-bottom: 0.4rem;
}

.footer-row-1-column-1 { /*max-width: 20%*/
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.footer-row-1-column-1 img{
width: 8rem;
height: 2rem;
margin-bottom: 0.5rem;
}

.footer-row-1-column-1 span{
line-height: 1rem;
}

.wallapop-logo-subtitle{
color: var(--font-color-2);
font-size: .75rem;
}

.footer-row-1-column-2 li{
list-style: none;
}

.block-links-title{
margin-bottom: 0.1rem;
}

.link-blocks{
flex: 0 0 50%;
padding: 0 0.1rem;
max-width: 50%;
margin-bottom: 1rem;
font-size: var(--header-buttons-font-size);
}

.link-blocks a{
line-height: 1.5rem;
letter-spacing: 0PX;
}

.cookies-button{
all: unset;
cursor: pointer;
color: var(--wallapop-special-font-color);
}

.social-media-hovered-logo{ /*Hover display block*/
    display: none;
}
.footer-row-2{
height: auto;
margin-bottom: 4rem;
}

.download-links-row{
padding-left: 1px;
}

.download-link-box{
display: flex;
font-size: var(--header-buttons-font-size);
margin-bottom: 2rem;
flex: 0 0 50%;
max-width: 50%;
align-items: flex-end;
}


.download-link-box img{
width: 30px;
margin-right: 3px;
}

.social-media-links{
display: flex;
justify-content: space-evenly;
}
/*FOOTER END*/
/*MOBILE BOTTOM NAV BAR*/

.mobile-bottom-nav-bar{  /*display:none*/
position: fixed;
bottom: 0;
background-color: var(--background-color);
width: 100vw;
}
.nav-bar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nav-bar-option{
padding-top: 3px;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
align-content: center;
}
/*MOBILE BOTTOM NAV BAR END*/

/*RESPONSIVE MEDIAS*/

    /*TABLET*/
    @media screen and (max-width: 480px) {
        .first-links-container{
            column-count: 1;
        }  
    }

    @media screen and (min-width:481px) and (max-width: 768px) {
        .first-links-container{
            column-count: 3;
        }  
    }

    @media screen and (min-width: 768px) {
        .banners-download{
            width: 50%;
            flex-direction: row-reverse;
            align-content: space-between;
        }

        .second-links-container-wrap .row{
            gap: 0.5rem;
            padding-top: 1rem;
            flex-wrap: nowrap;
        }

        .second-links-left-column h2{
            line-height: 0;
        }

        .second-links-right-column p{
            word-spacing: 1px;
            line-height: 1.3rem;
        }

        
        .footer-container{
            padding-top: 20px;
        }

        .footer-row-1-column-1{
            max-width: 20%;
        }

        .footer-row-1-column-1 img{
            margin-bottom: 1rem;
        }

        .wallapop-logo-subtitle{
            height: 30%;
        }

        .footer-row-1-column-2{
            width: 80%;
        }

        .footer-row-1-column-2 .row{
            margin: 0 0 0 0.2rem;
            justify-content:flex-start;
            flex-wrap: wrap;
        }

        .link-blocks{
            margin: 0;
            max-width: 20%;
        }

        .link-blocks ul{
            height: fit-content;
        }

        .footer-row-2{
            margin-top: 4rem;
            display: flex;
            justify-content: space-evenly;
        }

        .social-media-links{
            width: 40%;
            justify-content: center;
            gap: 2rem;
        }

        .download-links-row{
            width: 60%;
            flex-wrap: nowrap;
        }

        .download-link-box{
            max-width: 33.33%
        }
        
    }

    @media screen and (min-width: 768px) and (max-width: 991px){

        main{
            padding: 0 12%;
        }

        #main-search-box{
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .search-form-container{
            width: 70%;
        }

        .categories-wrap h2{
            font-size: 1.5rem;
        }

        .collection-title{
            font-size: 1.9rem;
            line-height: 44px;
        }

        .collection-subsections{
            display: flex;
            gap: 16px;
            overflow-y: initial;
            overflow-x: initial;
        }

        .collection-subsection{
            flex: 0 1 20%;
        }

        .pro-banner{
            width: 100%;
            height: 500px;
            margin-bottom: 110px;
        }

        .banners-download{
            width: 100%;
            height: 80%px;
        }

        .wallapop-logo-subtitle{
            word-break: break-all;
        }

        .arrow-left-wrapper{
            margin: 0 1rem;
        }

        .arrow-left{
            display: block;
        }

        .first-links-container{
            column-count: 3;
        }
    }
    /*WEB*/
    @media screen and (min-width: 992px) {
        .header-container{
            height: 14%;
        }

        .header-logo-mobile{
            display: none;
        }
        
        .header-logo-web{
            display: block;
        }

        .subir-producto-container{
            display: flex;
        }
        .optionButton2{
            display: block;
            background-color: var(--wallapop-color-blue);
        }

        .optionButton2 a{
            color: var(--background-color);
            font-weight: 600;
        }

        main{
            padding: 0 12%;
            margin-top: 2.5rem;
            max-height: 100vh;
        }

        .arrow-wrapper{
            position: absolute;
            right: 0;
            height: 100%;
            width: 30px;
            display: flex;
            background-color: var(--background-color);
            margin: 0;
        }
        .arrow-right{
            position: absolute;
            right: 0;
            height: 80%;
            top: 15px;
        }
        .arrow-left-wrapper{
            position: absolute;
            left: 0;
            height: 85%;
            display: flex;
            background-color: var(--background-color);
        }

        .arrow-left-wrapper img, .arrow-wrapper img{
            width: 25px;
        }
        .arrow-left{
            display: flex;
        }

        /* .arrow-left{
            display: block;
            position: absolute;
            left: 5px;
        } */

        .categories-wrap{
            max-height: 15rem;
            position: relative;
            width: 80%;
            margin-left: 5rem;

        }

        .categories-title{
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        .categories-element-wrapper{
            padding-left: 30px;
            position: static;
            justify-content:flex-start;
        }

        .categories-element-container{
            align-items: baseline;
            padding-left: 1.5rem;
            gap: 0.5rem;
            overflow: visible;
        }

        .categories-element{
            max-height:30% ;
            width: 150px;
        }

        .categories-element a{
            height: 10%;
            scroll-snap-align: start;
            flex-shrink: 0;
        }

        .home-collections{
            margin-top: 5rem;
        }

        .collection-subsections{
            display: flex;
            gap: 16px;
            overflow-y: initial;
            overflow-x: initial;
        }

        .collection-subsection{
            flex: 0 1 20%;
        }

        .collection-title{
            font-size: 2rem;
        }

        .banners{
            margin-top: 3rem;
            flex-direction: row;
            align-items: stretch;
            gap: 2.5rem;
            max-width: 90vw;
        }

        .pro-banner{
            width: 50%;
            margin: 0;
        }

        .download-buttons{
            display: none;
        }

        .column-row-1 .download-title strong{
            font-size: 1.5rem;
            line-height: 32px
        }

        .banners-download{
            gap: 1rem;
            justify-content: space-between;
            height: 335px;
        }

        .download-column-1{
            width: 50%;  
            display: flex;
            justify-content: center; 
        }

        .download-column-2{
            width: 50%;
            align-items: normal;
            justify-content: space-around;
        }

        .download-column-2 .column-row-1{
            max-width: 100%;
            margin-bottom: 0;
            max-height: 70%;
        }

        .column-row-1 img{
            max-width: 100%;
            max-height: 50%;
        }

        .download-column-1 .column-row-1 img{
            max-width: 100%;
            max-height: 100%;
        }

        .download-qr-code{
            display: block;
        }

        .download-column-1{
            margin-top: -80px;
        }

        .download-column-1 img{
            width: 100%;
            height: 100%;
        }

        .nav-bar-container{
            display: none;
        }

        .footer-row-2{
            margin-bottom: 0;
        }

        .first-links-container{
            column-count: 5;
        }

    }